.music1{
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 100%;
min-height: 100vh;
padding-top: 200px;
background-image: url(../image/music-homepage-banner-1280.jpg);
.music11{
    @include center;
    width: 100%;
   flex-direction: column;
    gap: 200px;
    .bottom {
        width: 100%;
        @include center;
        gap: 50px;
        flex-wrap: wrap;
    }
    .top{
        @include between;
        width: 100%;
        padding-top: 40px;

    .text{
        width: 50%;
      @include start;
      gap: 20px;
      flex-direction: column;
        h1{
            font-size: 50px;
            color: #F7BF53;
            font-weight: 600;
        }
        .button{
            width: 100%;
            @include start;
            gap: 20px;
            :nth-child(1){
               
                padding: 8px 22px;
                border-radius: 20px;
                font-weight: 600;
                background-color: #ffda2a;
                transition: all 0.5s ease;
                filter: brightness(100%);
                &:hover {
                    filter: brightness(50%);
                }
        }
        :nth-child(2){
               
            padding: 8px 22px;
            border-radius: 20px;
            font-weight: 600;
            background-color: transparent;
            border: 1px solid #fff;
            transition: all 0.5s ease;
            color: #fff;
         
            &:hover {
              background-color: #fff;
              color: #000;
            }
    }
    }
}
}}
}

@media screen and (max-width:776px) {
    .music1{
        padding: 40px 0;
        .music11{
            .top{
            align-items: center;
        justify-content: center;
        width: 100%;
            .text{
                width: 100%;
                align-items: center;
                justify-content: center;
                text-align: center;
                h1{
                    font-size: 30px;
                }
                .button{
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                }
            }
        }
        }
    }
}