nav{
    width: 100%;
    @include between;
    align-items: center;
    position: fixed;
    z-index: 12345;
    padding:10px 32px;
    background-color: $toastify-color-dark;
    i{
        color: $toastify-text-color-info;
    }
    .left{
        @include center;
        gap: 10px;  
        .bi-search{
            font-size: 16px;
        }
    }
    .center{
        @include center;
        gap: 20px;
        li{
            a{
                color: $toastify-text-color-light;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
    .right{
        @include center;
        gap: 10px;  
        a{
            color: $toastify-text-color-light;
        }
        button{
            padding: 4px 22px;
            font-weight: 600;
            border-radius: 20px;
            background-color: #ffda2a;
            transition: all 0.5s ease;
            filter: brightness(100%);
            font-size: 15px;
            &:hover{
                filter: brightness(50%);
            }
        }
    }
}

@media screen and (max-width:991px) {
nav{
    .center{
        display: none;
    }
}
}